<div id="<%= dom_id(service) %>">
  <%= link_to service_path(service) do %>
    <div class="card-service">
      <p>
        <strong><%= t('.name') %>:</strong>
        <%= service.name %>
      </p>
      <p>
        <strong><%= t('.price') %>:</strong>
        <%= '%.2f' % service.price %>
      </p>
    </div>
  <% end %>
</div>
