<h2><%= t('dashboard.index.admin') %>: <%= @admin_users.size %></h2>
<h2><%= t('dashboard.index.non_admin') %>: <%= @non_admin_users.size %></h2>
<h2><%= t('dashboard.index.total') %>: <%= @users.size %></h2>
