<div id="<%= dom_id(guest) %>" class="flex flex-col min-h-screen">
  <div class="flex justify-center items-center flex-1">
    <%= render 'guest_general_informations' %>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <%= render 'guest_lash' %>
    </div>
    <div class="flex items-center">
      <%= render 'guest_extension' %>
    </div>
    <div class="flex items-center">
      <%= render 'guest_health' %>
    </div>
  </div>
</div>
