<div id="guest_lash">
  <% if @guest.lash %>
    <h3><%= t(".lash_information") %>
    </h3>
    <p>
      <strong><%= t(".lash_desired_effect") %></strong>
      <%= @guest.lash.desired_effect %>
    </p>
    <p>
      <strong><%= t(".lash_face_diagnostic") %></strong>
      <%= @guest.lash.face_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_asymmetry_diagnostic") %></strong>
      <%= @guest.lash.asymmetry_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_eyelid_morphology_diagnostic") %></strong>
      <%= @guest.lash.eyelid_morphology_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_alignment_morphology_diagnostic") %></strong>
      <%= @guest.lash.alignment_morphology_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_proportion_morphology_diagnostic") %></strong>
      <%= @guest.lash.proportion_morphology_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_thickness_diagnostic") %></strong>
      <%= @guest.lash.thickness_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_length_diagnostic") %></strong>
      <%= @guest.lash.length_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_curvature_diagnostic") %></strong>
      <%= @guest.lash.curvature_diagnostic %>
    </p>
    <p>
      <strong><%= t(".lash_style") %></strong>
      <%= @guest.lash.style %>
    </p>
    <p>
      <strong><%= t(".lash_notes") %></strong>
      <%= @guest.lash.notes %>
    </p>
    <p>
      <strong><%= t(".lash_mapping") %></strong>
      <%= @guest.lash.mapping %>
    </p>
    <p>
      <strong><%= t(".lash_event") %></strong>
      <%= @guest.lash.event %>
    </p>
    <p>
      <strong><%= t(".lash_texture") %></strong>
      <%= @guest.lash.texture %>
    </p>
    <p>
      <strong><%= t(".lash_density") %></strong>
      <%= @guest.lash.density %>
    </p>
    <!-- Add other lash attributes as needed -->
  <% else %>
    <p><em><%= t(".no_lash_information") %></em></p>
  <% end %>
</div>
