<div data-controller="search-guests">
  <div class="sticky top-[80px] bg-white">
    <%= form_with url: guests_path, method: :get, html: { data: {search_guests_target: "form"}} do |f| %>
      <!-- Button Section -->
      <% if policy(Guest).create? %>
        <%= link_to t('button.new', model: Guest.model_name.human.downcase), new_guest_path, class: "inline-block bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 w-auto" %>
      <% end %>
      <%= f.label :query, t('.search'), class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :query,
                              class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", 
                              placeholder: t('.placeholder'),
                              value: params[:query],
                              data: {
                                search_guests_target: "searchInput",
                                action: "keyup->search-guests#update"
                              } %>
    <% end %>
  </div>
  <!-- guests List Section -->
  <div class="guests pt-[30px] pb-[80px]">
    <%= render "index_list", guests: @guests %>
  </div>
</div>
