<header class="flex flex-col bg-white w-64 py-6 px-4 h-screen">
  <!-- LOGO -->
  <div class="mt-2 flex justify-center fixed top-6">
    <%= link_to "/#{I18n.locale}", class: "text-black hover:text-customPink font-semibold" do %>
      <%= image_tag "/assets/appalash-logo-title.png", width: "100", role: "img", aria: { label: "logo" } %>
    <% end %>
  </div>
  <!-- NAV LINKS -->
  <nav class="space-y-4 fixed top-32">
    <%= link_to clients_path, class: "block py-2 px-4 rounded #{active_class('/clients')} flex items-center" do %>
      <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
      <%= t("navbar_link_clients") %>
    <% end %>
    <%= link_to transactions_path, class: "block py-2 px-4 rounded #{active_class('/transactions')} flex items-center" do %>
      <i class="fa fa-exchange mr-2" aria-hidden="true"></i>
      <%= t("navbar_link_transactions") %>
    <% end %>
    <%= link_to services_path, class: "block py-2 px-4 rounded #{active_class('/services')} flex items-center" do %>
      <!-- Inline SVG of Lash with mr-2 class for spacing -->
      <%= raw(File.read(Rails.root.join('app', 'assets', 'images', 'svg', 'lash.svg')).gsub('<svg', '<svg class="mr-2 w-5 h-5"')) %>
      <%= t("navbar_link_services") %>
    <% end %>
    <% if current_user && current_user.website.present? %>
      <%= link_to user_profile_path(current_user.website), class: "block py-2 px-4 rounded #{active_class('/home')} flex items-center" do %>
        <i class="fa fa-globe mr-2" aria-hidden="true"></i>
        <%= t("navbar_link_website") %>
      <% end %>
    <% end %>
    <%= link_to dashboard_index_path, class: "block py-2 px-4 rounded #{active_class('/dashboard')} flex items-center" do %>
      <i class="fa fa-tachometer-alt mr-2" aria-hidden="true"></i>
      <%= t("navbar_link_dashboard") %>
    <% end %>
  </nav>
</header>
