<p style="color: green"><%= notice %></p>

<%= render @prestation %>

<div>
  <%= link_to "Edit this prestation", edit_prestation_path(@prestation) %> |
  <%= link_to "Back to prestations", prestations_path %>

  <%= button_to "Destroy this prestation", @prestation, method: :delete %>
</div>
