<div class="container mx-auto px-4 py-8">
  <div class="row">
    <div class="col">
      <h2 class="text-2xl font-bold mb-6"><%= t('.title') %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: 'space-y-6' }) do |f| %>
        <!-- Error Notification -->
        <% if resource.errors.any? %>
          <div class="text-red-600">
            <h2><%= t('.errors') %></h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Form Inputs -->
        <div class="form-inputs space-y-4">
          <div>
            <%= f.label :email, t('.label_email'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.email_field :email, required: true, autofocus: true, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_email') %>
          </div>
          <div>
            <%= f.label :password, t('.label_password'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.password_field :password, required: true, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_new_password') %>
            <% if @minimum_password_length %>
              <p class="text-sm text-gray-500"><%= "#{@minimum_password_length} #{t('.min_chars')}" %></p>
            <% end %>
          </div>
          <div>
            <%= f.label :password_confirmation, t('.label_password_confirmation'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.password_field :password_confirmation, required: true, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_new_password') %>
          </div>
          <div>
            <%= f.label :name, t('.label_name'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.text_field :name, required: false, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_name') %>
          </div>
          <div>
            <%= f.label :firstname, t('.label_firstname'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.text_field :firstname, required: false, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_firstname') %>
          </div>
          <div>
            <%= f.label :website, t('.label_website'), class: 'block text-lg font-medium text-gray-700' %>
            <%= f.text_field :website, required: true, class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500', autocomplete: t('.autocomplete_website') %>
          </div>
        </div>

        <!-- Form Actions -->
        <div class="form-actions mt-6">
          <%= f.submit t('.submit'), class: 'bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
