<nav class="flex justify-center">
  <%= link_to guests_path, class: "py-2 px-4 rounded #{active_class('/guests')} flex justify-start items-center w-100" do %>
    <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'guest.svg')).gsub('<svg', '<svg class="mr-2 w-8 h-8"')) %>
    <%= t("navbar_link_guests") %>
  <% end %>
  <%= link_to services_path, class: "py-2 px-4 rounded #{active_class('/services')} flex justify-start items-center w-100" do %>
    <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'lash.svg')).gsub('<svg', '<svg class="mr-2 w-8 h-8"')) %>
    <%= t("navbar_link_services") %>
  <% end %>
  <%= link_to transactions_path, class: "py-2 px-4 rounded #{active_class('/transactions')} flex justify-start items-center w-100" do %>
    <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'transaction.svg')).gsub('<svg', '<svg class="mr-2 w-8 h-8"')) %>
    <%= t("navbar_link_transactions") %>
  <% end %>
  <% if current_user && current_user.website.present? %>
    <%= link_to user_profile_path(current_user.website), class: "py-2 px-4 rounded #{active_class('/home')} flex justify-start items-center w-100" do %>
      <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'website.svg')).gsub('<svg', '<svg class="mr-2 w-8 h-8"')) %>
      <%= t("navbar_link_website") %>
    <% end %>
  <% end %>
  <%= link_to dashboard_index_path, class: "py-2 px-4 rounded #{active_class('/dashboard')} flex justify-start items-center w-100" do %>
    <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'dashboard.svg')).gsub('<svg', '<svg class="mr-2 w-8 h-8"')) %>
    <%= t("navbar_link_dashboard") %>
  <% end %>
</nav>