<% if user_signed_in? %>
  <header>
    <!-- NAVBAR CONTAINER -->
    <div class="bg-white text-black border-b">
      <div class="container mx-auto px-4 py-3 flex items-center justify-between">
        <!-- LOGO -->
        <%= link_to "/", class: "flex items-center text-black no-underline" do %>
          <%= image_tag "/assets/appalash-logo-title.png", width: "100", role: "img", aria: { label: "logo" } %>
        <% end %>
        <!-- HAMBURGER NAVBAR LINKS MOBILE + IPADS  -->
        <%= render 'partials/navbar/navbar_modal_hamburger'%>
        <!-- DESKTOP NAVBAR LINKS -->
        <nav class="hidden lg:flex items-center space-x-8">
          <%= link_to "/dashboard", class: active_class("/dashboard") do %><%= t("navbar_link_dashboard") %><% end %>
          <%= link_to "/clients", class: active_class("/clients") do %><%= t("navbar_link_clients") %><% end %>
          <%= link_to "/transactions", class: active_class("/transactions") do %><%= t("navbar_link_transactions") %><% end %>
          <%= link_to "/services", class: active_class("/services") do %><%= t("navbar_link_services") %><% end %>
          <% if current_user.website.present? %>
            <%= link_to user_profile_path(current_user.website), class: active_class(user_profile_path(current_user.website)) do %><%= t("navbar_link_website") %><% end %>
          <% end %>
        </nav>
        <!-- DROPDOWN LINKS AVATAR -->
        <%= render 'partials/navbar/navbar_modal_dropdown_avatar'%>
      </div>
    </div>
  </div>
</header>
<% end %>
