<h1>Edit Profile</h1>
<%= form_for @user, url: user_profile_path, method: :patch, data: { turbo: "true" } do |f| %>
  <!-- Display error messages -->
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Display custom error message if website already exists -->
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <!-- Form fields -->
  <div>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <!-- Other fields here -->
  <!-- Submit button -->
  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
<!-- Back to profile link -->
<%= link_to 'Back to Profile', user_profile_path(@user.website), class: 'btn btn-secondary' %>
<!-- Turbo Streams to update the form without full page reload -->
<%= turbo_stream_from "user_form" %>
