<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= client.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= client.zip_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= client.birthdate %>
  </p>

  <p>
    <strong>How do you know us:</strong>
    <%= client.how_do_you_know_us %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= client.notes %>
  </p>

  <p>
    <strong>Lash desired effect:</strong>
    <%= client.lash_desired_effect %>
  </p>

  <p>
    <strong>Lash face diagnostic:</strong>
    <%= client.lash_face_diagnostic %>
  </p>

  <p>
    <strong>Lash asymmetry diagnostic:</strong>
    <%= client.lash_asymmetry_diagnostic %>
  </p>

  <p>
    <strong>Lash eyelid morphology diagnostic:</strong>
    <%= client.lash_eyelid_morphology_diagnostic %>
  </p>

  <p>
    <strong>Lash alignment morphology diagnostic:</strong>
    <%= client.lash_alignment_morphology_diagnostic %>
  </p>

  <p>
    <strong>Lash proportion morphology diagnostic:</strong>
    <%= client.lash_proportion_morphology_diagnostic %>
  </p>

  <p>
    <strong>Lash thickness diagnostic:</strong>
    <%= client.lash_thickness_diagnostic %>
  </p>

  <p>
    <strong>Lash length diagnostic:</strong>
    <%= client.lash_length_diagnostic %>
  </p>

  <p>
    <strong>Lash curvature diagnostic:</strong>
    <%= client.lash_curvature_diagnostic %>
  </p>

  <p>
    <strong>Lash style:</strong>
    <%= client.lash_style %>
  </p>

  <p>
    <strong>Lash notes:</strong>
    <%= client.lash_notes %>
  </p>

  <p>
    <strong>Lash mapping:</strong>
    <%= client.lash_mapping %>
  </p>

  <p>
    <strong>Lash event:</strong>
    <%= client.lash_event %>
  </p>

  <p>
    <strong>Lash texture:</strong>
    <%= client.lash_texture %>
  </p>

  <p>
    <strong>Lash density:</strong>
    <%= client.lash_density %>
  </p>

  <p>
    <strong>Lash extensions brand:</strong>
    <%= client.lash_extensions_brand %>
  </p>

  <p>
    <strong>Lash extensions curvature:</strong>
    <%= client.lash_extensions_curvature %>
  </p>

  <p>
    <strong>Lash extensions thickness:</strong>
    <%= client.lash_extensions_thickness %>
  </p>

  <p>
    <strong>Lash extensions glue:</strong>
    <%= client.lash_extensions_glue %>
  </p>

  <p>
    <strong>Lash extensions pretreatment superbonder:</strong>
    <%= client.lash_extensions_pretreatment_superbonder %>
  </p>

  <p>
    <strong>Lash extensions pretreatment booster:</strong>
    <%= client.lash_extensions_pretreatment_booster %>
  </p>

  <p>
    <strong>Health diabetes:</strong>
    <%= client.health_diabetes %>
  </p>

  <p>
    <strong>Health pregnancy:</strong>
    <%= client.health_pregnancy %>
  </p>

  <p>
    <strong>Health dry eyes:</strong>
    <%= client.health_dry_eyes %>
  </p>

  <p>
    <strong>Health teary eyes:</strong>
    <%= client.health_teary_eyes %>
  </p>

  <p>
    <strong>Health allergy:</strong>
    <%= client.health_allergy %>
  </p>

  <p>
    <strong>Health contact lenses:</strong>
    <%= client.health_contact_lenses %>
  </p>

  <p>
    <strong>Health surgery:</strong>
    <%= client.health_surgery %>
  </p>

  <p>
    <strong>Health chemotherapy:</strong>
    <%= client.health_chemotherapy %>
  </p>

  <p>
    <strong>Health eyes allergy:</strong>
    <%= client.health_eyes_allergy %>
  </p>

  <p>
    <strong>Health itch:</strong>
    <%= client.health_itch %>
  </p>

  <p>
    <strong>Health first application:</strong>
    <%= client.health_first_application %>
  </p>

  <p>
    <strong>Health lie down:</strong>
    <%= client.health_lie_down %>
  </p>

  <p>
    <strong>Health notes:</strong>
    <%= client.health_notes %>
  </p>

</div>
