<%= link_to client_path(client), class: "client-card-link" do %>
  <div class="shadow-md rounded-lg overflow-hidden flex flex-auto mb-2 items-center cursor-pointer hover:shadow-lg h-12">
    <!-- Div containing the image, taking full height and width of the parent -->
    <div class="w-[130px] w-[60px] flex justify-center items-center">
      <% if client.photo.attached? %>
        <%= cl_image_tag client.photo.key, gravity: "face", height: 200, width: 200, crop: "thumb" %>
      <% else %>
        <!-- Default image if no photo -->
        <%= image_tag "client/client_photo_profil.png", gravity: "face", height: 200, width: 200, crop: "thumb" %>
      <% end %>
    </div>
    <!-- Client info -->
    <div class="bg-blue-500 px-4 py-6 w-full flex items-center h-full">
      <div class="text-sm font-semibold text-gray-900 truncate">
        <% if current_user.admin? %>
          <p><%= "User is :#{client.user.name} #{client.user.firstname}" %></p>
        <% end %>
        <p>
          <%= client.full_name %>
        </p>
      </div>
      <% if client.errors.any? %>
        <p class="text-red-500 text-xs mt-1">
          <%= t('errors.messages.generic') %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
