<div id="client_general_informations">
  <p>
    <strong><%= t(".name") %></strong>
    <%= @client.name %>
  </p>
  <p>
    <strong><%= t(".firstname") %></strong>
    <%= @client.firstname %>
  </p>
  <p>
    <strong><%= t(".email") %></strong>
    <%= @client.email %>
  </p>
  <p>
    <strong><%= t(".phone") %></strong>
    <%= @client.phone %>
  </p>
  <p>
    <strong><%= t(".address") %></strong>
    <%= @client.address %>
  </p>
  <p>
    <strong><%= t(".zip_code") %></strong>
    <%= @client.zip_code %>
  </p>
  <p>
    <strong><%= t(".city") %></strong>
    <%= @client.city %>
  </p>
  <p>
    <strong><%= t(".country") %></strong>
    <%= @client.country %>
  </p>
  <p>
    <strong><%= t(".birthdate") %></strong>
    <%= @client.birthdate %>
  </p>
  <p>
    <strong><%= t(".how_do_you_know_us") %></strong>
    <%= @client.how_do_you_know_us %>
  </p>
  <p>
    <strong><%= t(".notes") %></strong>
    <%= @client.notes %>
  </p>
