<div id="client_general_informations" data-controller="edit-client">
  <!-- Info Section -->
  <button data-edit-client-target="editCancelButton" data-action="click->edit-client#editCancelToggle" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">MODIFIER</button>
  <div class="space-y-2">
    <% if @client.photo.attached? %>
      <%= cl_image_tag @client.photo.key, data: { edit_client_target: "info" }, quality: "auto", height: 100, width: 100, crop: :thumb, gravity: :face, class: "rounded-full" %>
    <% else %>
      <%= image_tag "client/client_photo_profil.png", data: { edit_client_target: "info" }, quality: "auto", height: 100, width: 100, crop: :thumb, class: "rounded-full bg-tomato" %>
    <% end %>
  </div>
  <div class="space-y-2">
    <%= form_with(model: @client, url: client_path(@client), method: :put, local: true, data: { edit_client_target: "form" }) do |form| %>
      <label for="photo" data-edit-client-target="photo" class="hidden text-lg font-medium text-gray-700">
        <%= t("form.labels.client.photo") %>
      </label>
      <input type="file" id="photo" name="photo" accept="image/jpeg, image/png" 
              class="hidden block mt-2 " 
              data-edit-client-target="photo" 
              <%# data-photo-preview-target="input"  %>
              <%# onchange="displayPreview(event)" %>
               />
    </div>
    <!-- Client information fields for editing -->
    <div class="client-info" data-client-field="name">
      <p data-edit-client-target="info">
        <strong><%= t(".name") %></strong><%= @client.name %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".name") %></strong>
        <%= form.text_field :name, value: @client.name, id: "client_name", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="firstname">
      <p data-edit-client-target="info">
        <strong><%= t(".firstname") %></strong><%= @client.firstname %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".firstname") %></strong>
        <%= form.text_field :firstname, value: @client.firstname, id: "client_firstname", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="email">
      <p data-edit-client-target="info">
        <strong><%= t(".email") %></strong><%= @client.email %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".email") %></strong>
        <%= form.text_field :email, value: @client.email, id: "client_email", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="phone">
      <p data-edit-client-target="info">
        <strong><%= t(".phone") %></strong><%= @client.phone %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".phone") %></strong>
        <%= form.text_field :phone, value: @client.phone, id: "client_phone", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="address">
      <p data-edit-client-target="info">
        <strong><%= t(".address") %></strong><%= @client.address %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".address") %></strong>
        <%= form.text_field :address, value: @client.address, id: "client_address", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="zip_code">
      <p data-edit-client-target="info">
        <strong><%= t(".zip_code") %></strong><%= @client.zip_code %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".zip_code") %></strong>
        <%= form.text_field :zip_code, value: @client.zip_code, id: "client_zip_code", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="city">
      <p data-edit-client-target="info">
        <strong><%= t(".city") %></strong><%= @client.city %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".city") %></strong>
        <%= form.text_field :city, value: @client.city, id: "client_city", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="country">
      <p data-edit-client-target="info">
        <strong><%= t(".country") %></strong><%= @client.country %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".country") %></strong>
        <%= form.text_field :country, value: @client.country, id: "client_country", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="birthdate">
      <p data-edit-client-target="info">
        <strong><%= t(".birthdate") %></strong><%= @client.birthdate %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".birthdate") %></strong>
        <%= form.text_field :birthdate, data: { controller: "datepicker" },value:@client.birthdate, id: "client_birthdate", class: 'block w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-500' %>
      </p>
    </div>
    <div class="client-info" data-client-field="how_do_you_know_us">
      <p data-edit-client-target="info">
        <strong><%= t(".how_do_you_know_us") %></strong><%= @client.how_do_you_know_us %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".how_do_you_know_us") %></strong>
        <%= form.text_field :how_do_you_know_us, value: @client.how_do_you_know_us, id: "client_how_do_you_know_us", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info" data-client-field="notes">
      <p data-edit-client-target="info">
        <strong><%= t(".notes") %></strong><%= @client.notes %>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <strong><%= t(".notes") %></strong>
        <%= form.text_area :notes, value: @client.notes, id: "client_notes", class: "mt-2 block" %>
      </p>
    </div>
    <div class="client-info">
      <p data-edit-client-target="info">
        <strong>rien</strong>
      </p>
      <p data-edit-client-target="form" class="hidden">
        <button type="submit" class=" mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">SUBMIT BUTTON</button>
      </p>
    </div>
  <% end %>
</div>
