<%= link_to client_path(client), class: "client-card-link" do %>
  <div class="shadow-md rounded-lg overflow-hidden flex flex-auto items-center mb-4 cursor-pointer transform transition-all hover:scale-105 hover:shadow-lg h-36">
    <!-- Div qui contient l'image (taille fixe et centrée) -->
    <% if client.photo.attached? %>
      <%= cl_image_tag client.photo.key, crop: :fill, gravity: :face, height: "50", width: "50", class: "object-cover" %>
    <% else %>
      <!-- Image par défaut si aucune photo -->
      <%= image_tag "client/client_photo_profil.png", crop: :fill, gravity: :face, height: "50", width: "50", class: "object-cover" %>
    <% end %>
    <!-- Infos du client -->
    <div class="bg-yellow-500 card-product-infos px-4 py-3 w-full">
      <h2 class="text-sm font-semibold text-gray-900 truncate">
        <%= "#{client.name} #{client.firstname}".html_safe %>
      </h2>
      <% if client.errors.any? %>
        <p class="text-red-500 text-xs mt-1">
          <%= t('errors.messages.generic') %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
