<%= simple_form_for(@client) do |form| %>
  <% if !@client.id %>
    <%# <p>Client does not exist</p> %>
  <% else %>
    <% if @client.photo.attached? %>
      <%= cl_image_tag @client.photo.key, height: 100, width: 100, crop: :thumb, gravity: :face, style: "border-radius: 50%;" %>
    <% else %>
      <%= image_tag "client/client_photo_profil.png", height: 100, width: 100, crop: :fill, style: "border-radius: 50%; background-color: tomato;" %>
    <% end %>
  <% end %>
  <%= form.input :photo, as: :file, input_html: { accept: 'image/jpeg, image/png' } %>
  <%= form.input :name, label: "Nom", required: true %>
  <%= form.input :firstname, label: "Prénom", required: true %>
  <%= form.input :email, label: "email" %>
  <%= form.input :phone, label: "téléphone" %>
  <%= form.input :address, label: "adresse" %>
  <%= form.input :zip_code, label: "code postal" %>
  <%= form.input :city, label: "ville" %>
  <%= form.input :country, label: "Pays" %>
  <%= form.input :birthdate, label: "Date de naissance",  as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= form.input :how_do_you_know_us, collection: how_do_you_know_us_options, as: :select, label: "Comment vous nous avez connu ? ?" %>
  <%= form.input :notes, as: :text, label: "Notes" %>
  <%#= form.input :lash_desired_effect, collection: lash_desired_effect_options, as: :select, label: "Lash Desired Effect" %>
  <%#= form.input :lash_face_diagnostic, collection: lash_face_diagnostic_options, as: :select, label: "Lash Face Diagnostic" %>
  <%#= form.input :lash_asymmetry_diagnostic,collection: lash_asymmetry_diagnostic_options, as: :select,label: "Lash Asymmetry Diagnostic" %>
  <%#= form.input :lash_eyelid_morphology_diagnostic, collection: lash_eyelid_morphology_diagnostic_options, as: :select, label: "Lash Eyelid Morphology Diagnostic" %>
  <%#= form.input :lash_alignment_morphology_diagnostic, collection: lash_alignment_morphology_diagnostic_options, as: :select,label: "Lash Alignment Morphology Diagnostic" %>
  <%#= form.input :lash_proportion_morphology_diagnostic,collection: lash_proportion_morphology_diagnostic_options, as: :select, label: "Lash Proportion Morphology Diagnostic" %>
  <%#= form.input :lash_thickness_diagnostic, label: "Lash Thickness Diagnostic" %>
  <%#= form.input :lash_length_diagnostic, as: :integer, label: "Lash Length Diagnostic" %>
  <%#= form.input :lash_curvature_diagnostic, as: :boolean, label: "Lash Curvature Diagnostic" %>
  <%#= form.input :lash_style, collection: lash_style_options, as: :select, label: "Lash Style" %>
  <%#= form.input :lash_notes, as: :text, label: "Lash Notes" %>
  <%#= form.input :lash_mapping, as: :text, label: "Lash Mapping" %>
  <%#= form.input :lash_event, as: :text, label: "Lash Event" %>
  <%#= form.input :lash_texture, as: :boolean, label: "Lash Texture" %>
  <%#= form.input :lash_density,collection: lash_density_options, as: :select, label: "Lash Density" %>
  <%#= form.input :lash_extensions_brand,collection: lash_extensions_brand_options, as: :select,  label: "Lash Extensions Brand" %>
  <%#= form.input :lash_extensions_curvature, collection: lash_extensions_curvature_options, as: :select, label: "Lash Extensions Curvature" %>
  <%#= form.input :lash_extensions_thickness, as: :integer, label: "Lash Extensions Thickness" %>
  <%#= form.input :lash_extensions_glue, collection: lash_extensions_glue_options, as: :select, label: "Lash Extensions Glue" %>
  <%#= form.input :lash_extensions_pretreatment_superbonder, as: :boolean, label: "Lash Extensions Pretreatment Superbonder" %>
  <%#= form.input :lash_extensions_pretreatment_booster, as: :boolean, label: "Lash Extensions Pretreatment Booster" %>
  <%#= form.input :health_diabetes, as: :boolean, label: "Health Diabetes" %>
  <%#= form.input :health_pregnancy, as: :boolean, label: "Health Pregnancy" %>
  <%#= form.input :health_dry_eyes, as: :boolean, label: "Health Dry Eyes" %>
  <%#= form.input :health_teary_eyes, as: :boolean, label: "Health Teary Eyes" %>
  <%#= form.input :health_allergy, as: :boolean, label: "Health Allergy" %>
  <%#= form.input :health_contact_lenses, as: :boolean, label: "Health Contact Lenses" %>
  <%#= form.input :health_surgery, as: :boolean, label: "Health Surgery" %>
  <%#= form.input :health_chemotherapy, as: :boolean, label: "Health Chemotherapy" %>
  <%#= form.input :health_eyes_allergy, as: :boolean, label: "Health Eyes Allergy" %>
  <%#= form.input :health_itch, as: :boolean, label: "Health Itch" %>
  <%#= form.input :health_first_application, as: :boolean, label: "Health First Application" %>
  <%#= form.input :health_lie_down, as: :boolean, label: "Health Lie Down" %>
  <%#= form.input :health_notes, as: :text, label: "Health Notes" %>
  <%= form.button :submit, class:"btn btn-success" %>
<% end %>