<%= simple_form_for(@client) do |form| %>
  <% if @client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% @client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.input :name, label: "Name" %>
  <%= form.input :firstname, label: "First Name" %>
  <%= form.input :email, label: "Email" %>
  <%= form.input :phone, label: "Phone" %>
  <%= form.input :address, label: "Address" %>
  <%= form.input :zip_code, label: "Zip Code" %>
  <%= form.input :city, label: "City" %>
  <%= form.input :country, label: "Country" %>
  <%= form.input :birthdate, as: :date, label: "Birthdate" %>
  <%= form.input :how_do_you_know_us, as: :text, label: "How Do You Know Us?" %>
  <%= form.input :notes, as: :text, label: "Notes" %>
  <%= form.input :lash_desired_effect, as: :text, label: "Lash Desired Effect" %>
  <%= form.input :lash_face_diagnostic, as: :text, label: "Lash Face Diagnostic" %>
  <%= form.input :lash_asymmetry_diagnostic, as: :text, label: "Lash Asymmetry Diagnostic" %>
  <%= form.input :lash_eyelid_morphology_diagnostic, as: :text, label: "Lash Eyelid Morphology Diagnostic" %>
  <%= form.input :lash_alignment_morphology_diagnostic, as: :text, label: "Lash Alignment Morphology Diagnostic" %>
  <%= form.input :lash_proportion_morphology_diagnostic, label: "Lash Proportion Morphology Diagnostic" %>
  <%= form.input :lash_thickness_diagnostic, label: "Lash Thickness Diagnostic" %>
  <%= form.input :lash_length_diagnostic, as: :integer, label: "Lash Length Diagnostic" %>
  <%= form.input :lash_curvature_diagnostic, as: :boolean, label: "Lash Curvature Diagnostic" %>
  <%= form.input :lash_style, as: :text, label: "Lash Style" %>
  <%= form.input :lash_notes, as: :text, label: "Lash Notes" %>
  <%= form.input :lash_mapping, as: :text, label: "Lash Mapping" %>
  <%= form.input :lash_event, as: :text, label: "Lash Event" %>
  <%= form.input :lash_texture, as: :boolean, label: "Lash Texture" %>
  <%= form.input :lash_density, as: :text, label: "Lash Density" %>
  <%= form.input :lash_extensions_brand, as: :text, label: "Lash Extensions Brand" %>
  <%= form.input :lash_extensions_curvature, as: :text, label: "Lash Extensions Curvature" %>
  <%= form.input :lash_extensions_thickness, as: :integer, label: "Lash Extensions Thickness" %>
  <%= form.input :lash_extensions_glue, as: :text, label: "Lash Extensions Glue" %>
  <%= form.input :lash_extensions_pretreatment_superbonder, as: :boolean, label: "Lash Extensions Pretreatment Superbonder" %>
  <%= form.input :lash_extensions_pretreatment_booster, as: :boolean, label: "Lash Extensions Pretreatment Booster" %>
  <%= form.input :health_diabetes, as: :boolean, label: "Health Diabetes" %>
  <%= form.input :health_pregnancy, as: :boolean, label: "Health Pregnancy" %>
  <%= form.input :health_dry_eyes, as: :boolean, label: "Health Dry Eyes" %>
  <%= form.input :health_teary_eyes, as: :boolean, label: "Health Teary Eyes" %>
  <%= form.input :health_allergy, as: :boolean, label: "Health Allergy" %>
  <%= form.input :health_contact_lenses, as: :boolean, label: "Health Contact Lenses" %>
  <%= form.input :health_surgery, as: :boolean, label: "Health Surgery" %>
  <%= form.input :health_chemotherapy, as: :boolean, label: "Health Chemotherapy" %>
  <%= form.input :health_eyes_allergy, as: :boolean, label: "Health Eyes Allergy" %>
  <%= form.input :health_itch, as: :boolean, label: "Health Itch" %>
  <%= form.input :health_first_application, as: :boolean, label: "Health First Application" %>
  <%= form.input :health_lie_down, as: :boolean, label: "Health Lie Down" %>
  <%= form.input :health_notes, as: :text, label: "Health Notes" %>
  <%= form.button :submit %>
<% end %>
