<h1>Clients</h1>
<%= form_tag clients_path, method: "GET" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Enter name or firstname..." %>
  <%= submit_tag "Rechercher", class:"btn btn-primary" %>
<% end %>
<div id="clients">
  <% @clients.each do |client| %>
    <%= link_to client_path(client), class: "card-client" do %>
      <div>
        <%= client.name %>
        <%= client.firstname %>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "+ Add Client", new_client_path %>
<div data-controller="hello" class="mt-5">
</div>