<div class="container">
  <div class="row">
    <div class="col">
      <div data-controller="search-clients">
        <%= form_with url: clients_path, method: :get, html: {class: "mb-4", data: {search_clients_target: "form"}} do |f| %>
          <%= f.label :query, "Rechercher cliente" %>
          <%= f.text_field :query,
                           class: "form-control",
                           placeholder: "rechercher par nom / prénom / téléphone / email",
                           value: params[:query],
                           data: {
                             search_clients_target: "searchInput",
                             action: "keyup->search-clients#update"
                            }
                           %>
        <% end %>
        <%= render "list", clients: @clients %>
      </div>
    </div>
  </div>
</div>
<%= link_to "+ nouvelle cliente", new_client_path, class: "link-clients" %>
