<p style="color: green"><%= notice %></p>
<% if @client.photo.attached? %>
  <%= cl_image_tag @client.photo.key, height: 100, width: 100, crop: :fill , style: "border-radius: 50%;"%>
<%else%>
  <%= image_tag "client/client_photo_profil.png", height: 100, width: 100 ,crop: :fill , style: "border-radius: 50%; background-color: tomato;"%>
<% end %>
<%= render @client %>
<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>
  <%= button_to "Destroy this client", @client, method: :delete %>
</div>
