<div id="guest_general_informations" data-controller="edit-guest" x-data="{ showForm: false, openMoreInfos: false }">
  <!-- MODIFIER BUTTON -->
  <button 
    data-edit-guest-target="editCancelButton" 
    data-action="click->edit-guest#editCancelToggle" 
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    @click="showForm = !showForm">
    MODIFIER
  </button>
  <%= form_for @guest, url: guest_path(@guest), method: :put, html: { multipart: true, data: { controller: "photo-preview" }, class: "space-y-6" } do |form| %>
    <!-- GUEST CARES -->
    <div class="guest-cares">
      soins
    </div>
    <!-- GUEST MAIN INFO -->
    <div class="guest-main-info flex flex-row">
      <div class="left mr-5">
        <% if @guest.photo.attached? %>
          <%= cl_image_tag @guest.photo.key, data: { edit_guest_target: "info" }, quality: "auto", height: 150, width: 150, crop: :thumb, gravity: :face, class: "rounded-full" %>
        <% else %>
          <%= image_tag "guest/guest_photo_profil.png", data: { edit_guest_target: "info" }, quality: "auto", height: 150, width: 150, crop: :thumb, class: "rounded-full bg-tomato" %>
        <% end %>
        <label for="photo" data-edit-guest-target="photo" class="hidden text-lg font-medium text-gray-700">
          <%= t("form.labels.guest.photo") %>
        </label>
        <input type="file" id="photo" name="guest[photo]" accept="image/jpeg, image/png" class="hidden block mt-2" data-edit-guest-target="photo" />
      </div>
      <div class="right">
        <div x-show="!showForm" class="guest-info">
          <p data-edit-guest-target="info" data-guest-field="full_name" class="text-2xl font-bold mt-5 mb-5">
            <%= @guest.full_name %>
          </p>
        </div>
        <!-- EMAIL -->
        <div x-show="!showForm" class="guest-info" data-guest-field="email">
          <p data-edit-guest-target="info" class="flex items-center">
            <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'email.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink mr-1"')) %>
            <%= mail_to @guest.email, @guest.email, class: "text-customPink hover:underline" %>
          </p>
        </div>
        <!-- PHONE -->
        <div x-show="!showForm" class="guest-info" data-guest-field="phone">
          <p data-edit-guest-target="info" class="flex items-center mb-2">
            <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'phone.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink mr-1"')) %>
            <%= link_to @guest.phone, "tel:#{@guest.phone}", class: "text-customPink hover:underline" %>
          </p>
        </div>
        <!-- FORM FIELDS TOGGLE -->
        <div x-show="showForm" class="guest-info">
          <!-- GUEST PHONE -->
          <div class="guest-info" data-guest-field="phone">
            <strong><%= t(".phone") %></strong>
            <%= form.text_field :phone, value: @guest.phone, id: "guest_phone", class: "mt-2 block" %>
          </div>
          <!-- GUEST EMAIL -->
          <div class="guest-info" data-guest-field="email">
            <strong><%= t(".email") %></strong>
            <%= form.text_field :email, value: @guest.email, id: "guest_email", class: "mt-2 block" %>
          </div>
          <!-- GUEST FIRSTNAME -->
          <div class="guest-info">
            <strong><%= t(".firstname") %></strong>
            <%= form.text_field :firstname, value: @guest.firstname, id: "guest_firstname", class: "mt-2 block" %>
          </div>
          <!-- GUEST NAME -->
          <div class="guest-info">
            <strong><%= t(".name") %></strong>
            <%= form.text_field :name, value: @guest.name, id: "guest_name", class: "mt-2 block" %>
          </div>
          <!-- GUEST BIRTHDATE -->
          <div class="guest-info">
            <strong><%= t(".birthdate") %></strong>
            <%= form.text_field :birthdate, value: @guest.birthdate, id: "guest_birthdate", class: "mt-2 block" %>
          </div>
          <!-- GUEST ADDRESS -->
          <div class="guest-info">
            <strong><%= t(".address") %></strong>
            <%= form.text_field :address, value: @guest.address, id: "guest_address", class: "mt-2 block" %>
          </div>
        </div>
        <!-- MORE INFOS BUTTON -->
        <div x-data="{ openMoreInfos: false }">
          <button type="button" @click="openMoreInfos = !openMoreInfos" class="flex flex-col justify-center items-center text-black hover:text-customPink">
            more infos
          </button>
          <!-- MORE INFOS CONTENT -->
          <div x-show="openMoreInfos" x-transition x-cloak class="z-40 rounded-md shadow-lg ring-1 ring-black ring-opacity-5 text-sm bg-white p-2 mt-2">
            <div class="py-1">
              <div class="guest-secondary-info">
                <div class="guest-info" data-guest-field="address">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".address") %></strong> <%= @guest.address %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="zip_code">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".zip_code") %></strong> <%= @guest.zip_code %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="city">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".city") %></strong> <%= @guest.city %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="country">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".country") %></strong> <%= @guest.country %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="birthdate">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".birthdate") %></strong> <%= @guest.birthdate %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="how_do_you_know_us">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".how_do_you_know_us") %></strong> <%= @guest.how_do_you_know_us %>
                  </p>
                </div>
                <div class="guest-info" data-guest-field="notes">
                  <p data-edit-guest-target="info">
                    <strong><%= t(".notes") %></strong> <%= @guest.notes %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- GUEST SUBMIT BUTTON -->
    <div class="guest-info">
      <p data-edit-guest-target="info"></p>
      <p data-edit-guest-target="form" class="hidden">
        <button type="submit" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          SUBMIT BUTTON
        </button>
      </p>
    </div>
  <% end %>
</div>
