<style>
  /* Ensures that the modal is initially hidden until Alpine is initialized */
  [x-cloak] {
    display: none;
  }
</style>
<%# Définition des champs de santé et des fichiers SVG associés %>
<% health_fields = [:diabetes, :pregnancy, :dry_eyes, :teary_eyes, :allergy, :contact_lenses, :surgery, :chemotherapy, :eyes_allergy, :itch, :first_application, :lie_down] %>
<div id="guest_health_informations" x-data="{ editHealthModal: false }" x-cloak>
  <div id="guest_health" class="p-6 bg-gray-50 rounded-lg shadow-lg">
    <h3 class="text-2xl font-semibold text-blue-600 mb-4"><%= t(".health_info") %></h3>
    <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg'))
      .gsub('<svg', '<svg @click="editHealthModal = true" class="w-10 h-10 text-customPink cursor-pointer"')) %>
    <div x-show="editHealthModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center" x-cloak>
      <%= render 'guests/new/form_new_guest_health', guest: @guest %>
    </div>
    <%# Flag to check if any health information exists %>
    <div class="flex">
      <% any_health_info = health_fields.any? { |field| !@guest.health.send(field).nil? } %>
      <div class="flex flex-wrap gap-3 bg-white <%= 'flex-1' unless !any_health_info %>">
        <% health_fields.each do |field| %>
          <% value = @guest.health.send(field) %>
          <% unless value.nil? %>
            <% any_health_info = true %> <%# Mark if any health information exists %>
          <% end %>
          <% next if value.nil? %>
          <div class="flex flex-col items-center text-center">
            <% color = value ? "bg-red-500" : "bg-green-500" %>
            <div class="flex items-center justify-center w-[100px] h-[100px] rounded-t-lg <%= color %>">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', "health_#{field}.svg"))
              .gsub('<svg', "<svg class='w-[80px] h-[80px] text-white'")) %>
            </div>
            <small class="pb-2 text-white <%= color %> text-center w-full block rounded-b-lg">
              <%= t(".health_#{field}") %>
            </small>
          </div>
        <% end %>
      </div>
      <%# If no health information exists, display the paragraph %>
      <%# Inside your existing template, after defining any_health_info = false and looping over health_fields %>
      <% if !any_health_info %>
        <div class="mt-4 p-4 bg-yellow-100 text-yellow-800 rounded-lg">
          <p class="mb-2">Do you want to add health information?</p>
          <button 
      @click="editHealthModal = true" 
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
            Add Health Info
          </button>
          <div x-show="editHealthModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center" x-cloak>
            <%= render 'guests/new/form_new_guest_health', guest: @guest %>
          </div>
        </div>
      <% end %>
      <%# Health Notes Section %>
      <% if any_health_info %>
        <div class="flex flex-row bg-white flex-1 p-4 rounded-lg shadow-md">
          <i class="fas fa-sticky-note text-blue-500 text-lg"></i>
          <div class="flex-1 ml-2">
            <strong class="text-gray-700"><%= t(".health_notes") %>:</strong>
            <span class="text-gray-600"><%= @guest.health.notes %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# Closing div for #guest_health %>
</div>
<%# Closing div for #guest_health_informations %>
