<div id="guest_extension" class="p-6 bg-gray-50 rounded-lg shadow-lg">
  <% fields = ['brand', 'curvature', 'thickness', 'glue'] %>
  <% has_extension_info = fields.any? { |field| @guest.extension.send(field).nil? } %>
  <% if @guest.extension && has_extension_info %>
    <h3 class="text-2xl font-semibold text-blue-600 mb-4"><%= t(".lash_extension_info") %></h3>
    <div class="bg-white p-6 rounded-lg shadow-md space-y-4">
      <%# if @guest.extension.brand.present? %>
      <div class="flex items-center space-x-3">
        <i class="fas fa-cogs text-blue-500 text-lg"></i>
        <div class="flex-1">
          <strong class="text-gray-700"><%= t(".lash_extension_brand") %>:</strong>
          <span class="text-gray-600"><%= @guest.extension.brand %></span>
        </div>
      </div>
      <%# end %>
      <%# if @guest.extension.curvature.present? %>
      <div class="flex items-center space-x-3">
        <i class="fas fa-shapes text-blue-500 text-lg"></i>
        <div class="flex-1">
          <strong class="text-gray-700"><%= t(".lash_extension_curvature") %>:</strong>
          <span class="text-gray-600"><%= @guest.extension.curvature %></span>
        </div>
      </div>
      <%# end %>
      <%# if @guest.extension.thickness.present? %>
      <div class="flex items-center space-x-3">
        <i class="fas fa-tachometer-alt text-blue-500 text-lg"></i>
        <div class="flex-1">
          <strong class="text-gray-700"><%= t(".lash_extension_thickness") %>:</strong>
          <span class="text-gray-600"><%= @guest.extension.thickness %></span>
        </div>
      </div>
      <%# end %>
      <%# if @guest.extension.glue.present? %>
      <div class="flex items-center space-x-3">
        <i class="fas fa-adhesive-bandage text-blue-500 text-lg"></i>
        <div class="flex-1">
          <strong class="text-gray-700"><%= t(".lash_extension_glue") %>:</strong>
          <span class="text-gray-600"><%= @guest.extension.glue %></span>
        </div>
      </div>
      <%# end %>
    </div>
  <% end %>
</div>
