<div id="guest_general_informations" x-data="{ 
  showFormFirstname: false, 
  showFormName: false, 
  showFormEmail: false, 
  showFormPhone: false, 
  showFormAddress: false, 
  showFormZipCode: false, 
  showFormCity: false, 
  showFormCountry: false, 
  showFormBirthdate: false, 
  showFormNotes: false 
}">
  <%= form_for @guest, url: guest_path(@guest), method: :put, html: { multipart: true, class: "space-y-6" } do |form| %>
    <!-- GUEST MAIN INFO -->
    <div class="guest-main-info flex flex-row">
      <div class="left mr-5">
        <% if @guest.photo.attached? %>
          <%= cl_image_tag @guest.photo.key, quality: "auto", height: 150, width: 150, crop: :thumb, gravity: :face, class: "rounded-full" %>
        <% else %>
          <%= image_tag "guest/guest_photo_profil.png", height: 150, width: 150, class: "rounded-full bg-tomato" %>
        <% end %>
      </div>
      <div class="right w-full">
        <!-- First Name -->
        <div class="relative group">
          <p class="flex items-center mb-2" x-show="!showFormFirstname">
            <strong><%= t(".firstname") %></strong> <%= @guest.firstname %>
            <span @click="showFormFirstname = !showFormFirstname" class="ml-2 hidden group-hover:block cursor-pointer">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink"')) %>
            </span>
          </p>
          <div x-show="showFormFirstname">
            <%= field(form, :firstname) %>
          </div>
        </div>
        <!-- Last Name -->
        <div class="relative group">
          <p class="flex items-center mb-2" x-show="!showFormName">
            <strong><%= t(".name") %></strong> <%= @guest.name %>
            <span @click="showFormName = !showFormName" class="ml-2 hidden group-hover:block cursor-pointer">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink"')) %>
            </span>
          </p>
          <div x-show="showFormName">
            <%= field(form, :name) %>
          </div>
        </div>
        <!-- Email -->
        <div class="relative group">
          <p class="flex items-center mb-2" x-show="!showFormEmail">
            <strong><%= t(".email") %></strong> <%= @guest.email %>
            <span @click="showFormEmail = !showFormEmail" class="ml-2 hidden group-hover:block cursor-pointer">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink"')) %>
            </span>
          </p>
          <div x-show="showFormEmail">
            <%= field(form, :email) %>
          </div>
        </div>
        <!-- Phone -->
        <div class="relative group">
          <p class="flex items-center mb-2" x-show="!showFormPhone">
            <strong><%= t(".phone") %></strong> <%= @guest.phone %>
            <span @click="showFormPhone = !showFormPhone" class="ml-2 hidden group-hover:block cursor-pointer">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink"')) %>
            </span>
          </p>
          <div x-show="showFormPhone">
            <%= field(form, :phone) %>
          </div>
        </div>
        <!-- Birthdate -->
        <div class="relative group">
          <p class="flex items-center mb-2" x-show="!showFormBirthdate">
            <strong><%= t(".birthdate") %></strong> <%= @guest.birthdate %>
            <span @click="showFormBirthdate = !showFormBirthdate" class="ml-2 hidden group-hover:block cursor-pointer">
              <%= raw(File.read(Rails.root.join('app', 'assets', 'svg', 'pencil.svg')).gsub('<svg', '<svg class="w-6 h-6 text-customPink"')) %>
            </span>
          </p>
          <div x-show="showFormBirthdate">
            <%= field(form, :birthdate) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
