<div id="guest_health">
  <% if @guest.health %>
    <h3><strong><%= t(".health_info") %></strong></h3>
    <p>
      <strong><%= t(".health_diabetes") %></strong>
      <%= @guest.health.diabetes %>
    </p>
    <p>
      <strong><%= t(".health_pregnancy") %></strong>
      <%= @guest.health.pregnancy %>
    </p>
    <p>
      <strong><%= t(".health_dry_eyes") %></strong>
      <%= @guest.health.dry_eyes %>
    </p>
    <p>
      <strong><%= t(".health_teary_eyes") %></strong>
      <%= @guest.health.teary_eyes %>
    </p>
    <p>
      <strong><%= t(".health_allergy") %></strong>
      <%= @guest.health.allergy %>
    </p>
    <p>
      <strong><%= t(".health_contact_lenses") %></strong>
      <%= @guest.health.contact_lenses %>
    </p>
    <p>
      <strong><%= t(".health_surgery") %></strong>
      <%= @guest.health.surgery %>
    </p>
    <p>
      <strong><%= t(".health_chemotherapy") %></strong>
      <%= @guest.health.chemotherapy %>
    </p>
    <p>
      <strong><%= t(".health_eyes_allergy") %></strong>
      <%= @guest.health.eyes_allergy %>
    </p>
    <p>
      <strong><%= t(".health_itch") %></strong>
      <%= @guest.health.itch %>
    </p>
    <p>
      <strong><%= t(".health_first_application") %></strong>
      <%= @guest.health.first_application %>
    </p>
    <p>
      <strong><%= t(".health_lie_down") %></strong>
      <%= @guest.health.lie_down %>
    </p>
    <p>
      <strong><%= t(".health_notes") %></strong>
      <%= @guest.health.notes %>
    </p>
  <% else %>
    <p><em><%= t(".no_health_information") %></em></p>
  <% end %>
</div>
