<%= turbo_frame_tag :contact_details, class: "w-full" do %>
  <!-- Parent Container (flex layout to allow turbo frame to take remaining space) -->
  <div class="p-4 pt-0 rounded-md flex flex-col w-full sticky top-[190px]">
    <!-- Localized Transaction Date with Default -->
    <p><%= l(@transaction.date, default: @transaction.date.to_s) %></p>
    <% if transaction.guest.photo.attached? %>
      <%= cl_image_tag transaction.guest.photo.key,
                             alt: "#{transaction.guest.firstname}'s photo", quality: "auto", crop: :thumb, gravity: :face,
                             width: 140, height: 140, class: "rounded-full border-2 border-gray-300" %>
    <% else %>
      <%= image_tag "guest/guest_photo_profil.png",  quality: "auto", crop: :thumb, gravity: :face,
                          width: 140, height: 140, class: "rounded-full border-2 border-gray-300" %>
    <% end %>
    <p>
      <strong><%= t('.guest') %>:</strong>
      <%= @transaction.guest.full_name %>
    </p>
    <!-- Services Section -->
    <h2><%= t('services_h1') %>:</h2>
    <ul>
      <% @transaction.services.each do |service| %>
        <li>
          <strong><%= service['name'] %></strong> <!-- Add the service name here -->
          <% 

              price = '%.2f' % service['price']
              currency = t('currency')
              position = t('currency_position')
            %>
          <%= position == 'before' ? "#{currency}#{price}" : "#{price} #{currency}" %>
        </li>
      <% end %>
    </ul>
    <!-- Total Price -->
    <p>
      <%= t('.total_price') %>:
      <% 
          total_price = '%.2f' % @transaction.total_price 
          position = t('currency_position')  # Ensure 'position' is defined here
          currency = t('currency')
        %>
      <%= position == 'before' ? "#{currency}#{total_price}" : "#{total_price} #{currency}" %>
    </p>
    <br>
    <!-- Delete Link -->
    <%= link_to transaction,
          data: { turbo_method: :delete,
                  turbo_confirm: "Are you sure?",
                  turbo_frame: '_top'
                },
          class: "px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400" do %>
      <span class="visually-hidden">Delete</span>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
<% end %>
