<div class="list-group">
  <% transactions.each do |transaction| %>
  
    <%= link_to transaction,
    class: "list-group-item list-group-item-action",
    data: { turbo_frame: :contact_details,
    turbo_action: :advance } do %>

      <div class="card-transaction flex space-x-4 rounded-md shadow-md p-4">
        <div class="flex-shrink-0">
          <% if transaction.client.photo.attached? %>
            <%= cl_image_tag transaction.client.photo.key,
              alt: "#{transaction.client.firstname}'s photo",
              width: 40, height: 40, class: "rounded-full border-2 border-gray-300" %>
          <% else %>
            <%= image_tag "client/client_photo_profil.png",
              width: 40, height: 40, class: "rounded-full border-2 border-gray-300" %>
          <% end %>
        </div>

        <% if current_user.admin? %>
          <p class="text-sm text-gray-500"><%= transaction.user.email %></p>
        <% end %>

        <div class="flex-1">
          <p class="font-semibold text-lg"><%= transaction.client.full_name %></p>
          <p class="text-sm text-gray-600"><%= transaction.date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
