<div id="transactions-list w-full"
     class="list-group space-y-2 pt-[30px] pb-[150px]"
     data-controller="transactions-list"
     data-action="scroll->transactions-list#saveScrollPosition">
  <% transactions.each do |transaction| %>
    <%= link_to transaction,
    class: "card-transaction flex rounded-md border-l-8 py-3 px-6 #{transaction == selected_transaction ? 'border-customPink border-opacity-90 bg-customPink bg-opacity-20 text-customPink' : 'border-white text-black'}",
    data: { turbo_frame: :transaction_details,
            turbo_action: :advance,
            action: "click->transactions-list#highlight",
            transactions_list_target: "transaction",
            transaction_id: transaction.id } do %>  <!-- Add the transaction ID here -->
      <div class="w-[60px] bg-white rounded-lg flex flex-col items-center mr-[20px]">
        <!-- Month of the week -->
        <div class="flex justify-center items-center w-full text-sm font-bold text-white bg-red-500 uppercase rounded-tl-lg rounded-tr-lg">
          <%= transaction.formatted_month %>
        </div>
        <!-- Day Number -->
        <div class="flex justify-center items-center w-full text-2xl font-extrabold text-black"><%= transaction.formatted_day %></div>
        <!-- Year -->
        <div class="flex justify-center items-center w-full text-xs font-semibold text-black bg-customBlue rounded-bl rounded-br"><%= transaction.formatted_year %></div>
      </div>
      <div class="flex flex-row flex-no-wrap justify-start items-center">
        <div class="min-w-[50px] min-h-[50px] mr-2">
          <% if transaction.guest.photo.attached? %>
            <!-- Keep fixed width and height with min-width for image container -->
            <%= cl_image_tag transaction.guest.photo.key,
                             alt: "#{transaction.guest.firstname}'s photo",  quality: "auto", crop: :thumb, gravity: :face,
                             width: 60, height: 60, class: "rounded-full border-2 border-gray-300" %>
          <% else %>
            <%= image_tag "guest/guest_photo_profil.png",  quality: "auto", crop: :thumb, gravity: :face,
                          width: 60, height: 60, class: "rounded-full border-2 border-gray-300" %>
          <% end %>
        </div>
        <% if current_user.admin? %>
          <p class="text-sm text-gray-500"><%= transaction.user.email %></p>
        <% end %>
        <!-- Full name with ellipsis if it overflows -->
        <div class="max-w-[280px] flex-grow font-semibold text-lg overflow-hidden text-ellipsis whitespace-nowrap">
          <p class="text-ellipsis overflow-hidden whitespace-nowrap">
            <%= transaction.guest.full_name %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
