<div id="transactions-list"
     class="list-group space-y-4 pt-[30px] pb-[150px]"
     data-controller="transactions-list"
     data-action="scroll->transactions-list#saveScrollPosition">
  <% transactions.each do |transaction| %>
    <%= link_to transaction,
                class: "card-transaction flex space-x-4 rounded-md shadow-md #{'bg-lime-200' if transaction == selected_transaction}",
                data: { turbo_frame: :transaction_details,
                        turbo_action: :advance,
                        action: "click->transactions-list#highlight",
                        transactions_list_target: "transaction" } do %>
      <div class="flex items-center space-x-4">
        <div class="flex-shrink-0">
          <% if transaction.guest.photo.attached? %>
            <%= cl_image_tag transaction.guest.photo.key,
                             alt: "#{transaction.guest.firstname}'s photo",
                             width: 40, height: 40, class: "rounded-full border-2 border-gray-300" %>
          <% else %>
            <%= image_tag "guest/guest_photo_profil.png",
                          width: 40, height: 40, class: "rounded-full border-2 border-gray-300" %>
          <% end %>
        </div>
        <% if current_user.admin? %>
          <p class="text-sm text-gray-500"><%= transaction.user.email %></p>
        <% end %>
        <div class="flex-1">
          <p class="font-semibold text-lg"><%= transaction.guest.full_name %></p>
          <p class="text-sm text-gray-600"><%= l(transaction.date, default: transaction.date.to_s) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
