<div id="transactions">
  <h1>Transactions</h1>
  <div class="transactions-list">
    <% @transactions.each do |transaction| %>
      <%= link_to transaction_path(transaction), class: "card-transaction" do %>
        <% if transaction.client.photo.attached? %>
          <%= cl_image_tag transaction.client.photo.key, alt: "#{transaction.client.firstname}'s photo", class: "card-transaction-image" %>
        <% else %>
          <%= image_tag "default_photo.png", alt: "#{transaction.client.firstname}'s photo", class: "card-transaction-image" %>
        <% end %>
        <%= "#{transaction.date} - #{transaction.client.name} #{transaction.client.firstname}" %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "+ Add Transaction", new_transaction_path %>
  <div>
    TOTAL DES TRANSACTIONS :
    <p><%= format('%.2f', @transactions_total_price) %></p>
  </div>
</div>
