<%= simple_form_for(@transaction, html: { data: { controller: "checkbox-new-form-transaction" } }) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> <%= t('.prohibited') %>:</h2>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @services === []%>
    <% if policy(@services).create? %>
      <%= link_to t("button.new", model: Service.model_name.human.downcase), new_service_path, class: "btn btn-primary"  %>
    <% end %>
  <% else %>
    <div class="field">
      <%= f.input :date,   as: :string, input_html: { data: { controller: "datepicker" } } %>
    </div>
    <div class="field">
      <%= f.input :client_id, collection: @clients, prompt: 'Select a client', required: true, label_method: :full_name, value_method: :id %>
      <% if @transaction.errors[:client_id].any? %>
        <div class="error-message">
          <%= @transaction.errors[:client_id].join(", ") %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :services %>
      <div id="services">
        <% @services.each do |service| %>
          <div>
            <% checked = params[:transaction] && params[:transaction][:services]&.any? { |p| p[:name] == service.name } %>
            <%= check_box_tag 'transaction[services][][name]', service.name, checked, id: "transaction_services_name_#{service.id}", class: "service-name-checkbox", data: { target: "transaction_services_price_#{service.id}" } %>
            <%= check_box_tag 'transaction[services][][price]', service.price, checked, id: "transaction_services_price_#{service.id}", style: "display: none" %>
            <%= service.name %> - <%= '%.2f' % service.price %>
            <% if checked %>
              <%= hidden_field_tag 'transaction[services][][name]', service.name %>
              <%= hidden_field_tag 'transaction[services][][price]', service.price  %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
