<%= form_with(model: @transaction, local: true, data: { controller: "checkbox-new-form-transaction" }) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, @clients, :id, :full_name, prompt: 'Select a client' %>
  </div>
  <div class="field">
    <%= form.label :prestations %>
    <div id="prestations">
      <% @prestations.each do |prestation| %>
        <div>
          <% checked = params[:transaction] && params[:transaction][:prestations]&.any? { |p| p[:name] == prestation.name } %>
          <%= check_box_tag 'transaction[prestations][][name]', prestation.name, checked, id: "transaction_prestations_name_#{prestation.id}", class: "prestation-name-checkbox", data: { target: "transaction_prestations_price_#{prestation.id}" } %>
          <%= check_box_tag 'transaction[prestations][][price]', prestation.price, checked, id: "transaction_prestations_price_#{prestation.id}", style:"display: none" %>
          <%= prestation.name %> - <%= prestation.price %>
          <% if checked %>
            <%= hidden_field_tag 'transaction[prestations][][name]', prestation.name %>
            <%= hidden_field_tag 'transaction[prestations][][price]', prestation.price %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%# <div data-controller="checkbox" class="mt-5"></div> %>
