<p>
  <strong><%= t('.date') %>:</strong>
  <p><%= @transaction.date %></p>
  <p>CLIENT ID : <%= @transaction.client_id %></p>
  <p><strong><%= t('.client') %>:</strong>  <%= @transaction.client.name %> <%= @transaction.client.firstname %></p>
</p>
<h2><%= t('services_h1') %>:</h2>
<ul>
  <% @transaction.services.each do |service| %>
    <li><%= "#{service['name']} - #{service['price']}" %></li>
  <% end %>
</ul>
<p><%= t('.total_price') %>: <%= @transaction.total_price %></p>
