<div class='sticky top-[80px] bg-white h-[50px] px-5 '>
  <% if policy(Transaction).create? %>
    <%= link_to t("button.new", model: Transaction.model_name.human.downcase), 
              new_transaction_path, 
              class: "inline-block bg-blue-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 w-auto" %>
  <% end %>
</div>
<div class="px-5">
  <%= t('.total') %>
  <p>
    <% 
      total_price = '%.2f' % @transactions_total_price
      currency = t('currency')
      position = t('currency_position')
    %>
    <%= position == 'before' ? "#{currency}#{total_price}" : "#{total_price} #{currency}" %>
  </p>
</div>
<% if @transactions.any? %>  <!-- Check if there are transactions -->
  <div class="flex flex-wrap w-full px-5">
    <!-- List Section: 1/4 width on desktop, full width on mobile/tablet -->
    <div class="w-2/5 min-w-[500px]">
      <%= render 'list', transactions: @transactions, selected_transaction: @transaction %>
    </div>
    <!-- Details Section: 3/4 width on desktop, full width on mobile/tablet -->
    <div class="ml-[50px] w-full md:w-2/5 lg:w-2/5 ">
      <%= render 'details', transaction: @transaction %>
    </div>
  </div>
<% else %>
  <p>No transactions</p>
  <!-- Display message when no transactions exist -->
<% end %>
