<!DOCTYPE html>
<html>
  <head>
    <title>LashAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <% if alert.present? %>
      <p class="alert alert-light" role="alert">
        <%= alert %></p>
    <% end %>
    <div id="main">
      <div class="main-left">
        <%= render 'partials/side-menu' %>
      </div>
      <div class="main-right">
        <%= render 'partials/navbar' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
