<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>AppaLash - Lashes Customer Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Preload Tailwind and Inter Font CSS files -->
    <link rel="preload" href="<%= asset_path('tailwind.css') %>" as="style">
    <link rel="preload" href="<%= asset_path('inter-font.css') %>" as="style">
    <!-- Link to local stylesheets -->
    <%= stylesheet_link_tag "tailwind", "inter-font", media: 'all', "data-turbo-track": "reload" %>
    <!-- Link to external stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Favicon links -->
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="shortcut icon" type="image/png" href="/assets/logo.png">
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white overscroll-none">
    <% if !current_user %>
      <%= render 'partials/flags/flags' %>
      <%= yield %> <!-- This will render the page content -->
    <% end %>
    <% if user_signed_in? %>
      <%= render 'partials/navbar/navbar' %>
      <main class="flex">
        <!-- Sidebar (Fixed Left) -->
        <div class="z-30 main-left flex flex-col h-screen fixed w-[280px] bg-white hidden lg:block">
          <% if user_signed_in? %>
            <%= render 'partials/sidebar/sidebar' %>
          <% end %>
        </div>
        <!-- Main Content (Right) -->
        <div class="main-right flex-1 lg:ml-[290px] min-h-screen bg-green-50 pb-20">
          <%= yield %> <!-- This will render the page content -->
        </div>
      </main>
      <!-- Flash messages -->
      <%= render "shared/flashes" %>
    <% end %>
    <!-- Footer -->
    <%= render 'partials/footer/footer' %>
  </body>
</html>
