<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>AppaLash - Lashes Customer Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Preload Tailwind and Inter Font CSS files with appropriate 'as' attributes -->
    <link rel="preload" href="<%= asset_path('tailwind.css') %>" as="style">
    <link rel="preload" href="<%= asset_path('inter-font.css') %>" as="style">
    <!-- Link to local stylesheets (after preload) -->
    <%= stylesheet_link_tag "tailwind", "inter-font", media: 'all', "data-turbolinks-track": "reload" %>
    <!-- Link to external stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Favicon links -->
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="shortcut icon" type="image/png" href="/assets/logo.png">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if !current_user %>
      <%= render 'partials/flags/flags' %>
    <% end %>
    <main class="flex">
      <% if user_signed_in? %>
        <%= render 'partials/sidebar/sidebar' %>
      <% end %>
      <section class="w-full">
        <% if user_signed_in? %>
          <%= render 'partials/navbar/navbar' %>
        <% end %>
        <%= yield %> <!-- This will render the page content -->
      </section>
      <!-- Ensure section takes up the remaining space -->
    </main>
    <!-- Main content -->
    <!-- Flash messages -->
    <%= render "shared/flashes" %>
    <%= render 'partials/footer/footer' %>
    <!-- Footer -->
  </body>
</html>
